/**
 * categories
 * @class categories
 */

.categories {

}

.categories .title h1 {
    display: inline-block;
}

.categories .title .btn,
.categories .title .form-control {
    margin-top: 25px;
}

.categories .filters .active {
    color: #000;
}

.categories .filters .btn {
    margin-bottom: 5px;
}