/deployments/
/.openshift/
*.log

#JBDS
/target/
/.settings/
.project

#Angular
/src/main/webapp/angular/node/
/src/main/webapp/angular/node_modules/
/src/main/webapp/angular/build/
/src/main/webapp/angular/docs/

#ignore thumbnails created by windows
Thumbs.db


