<div class="user">
    <button type="button" class="close" ui-sref="users"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h1>User</h1>
    <tabset justified="false">
        <tab heading="Details">
            <h3>Details</h3>
            <div class="view" ng-show="!editable">
                <dl>
					<dt>Id</dt>
                    <dd>{{ user.id || 'None' }}</dd>
                    <dt>User name</dt>
                    <dd>{{ user.name || 'None' }}</dd>
                    <dt>Login name</dt>
                    <dd>{{ user.username || 'None' }}</dd>
                    <dt>Forname</dt>
                    <dd>{{ user.forname || 'None' }}</dd>
                    <dt>Role</dt>
                    <dd>{{ user.authRole || 'None' }}</dd>
                    <dt>Password</dt>
                    <dd>{{ user.passwd || 'None' }}</dd>
                </dl>
            </div>
            <form role="form" ng-show="editable">
                <fieldset ng-disabled="isDisabled">
                    <div class="form-group">
						<dt>Id</dt>
                    	<dd>{{ user.id || 'None' }}</dd>
					</div>
                    <div class="form-group">
                        <label for="name">User name</label>
                        <input type="text" class="form-control" id="name" ng-model="user.name" />
                    </div>
                    <div class="form-group">
                        <label for=""userName"">Login name</label>
                        <input class="form-control" id="userName" ng-model="user.username"></input>
                    </div>
                    <div class="form-group">
                        <label for="forname">Forname</label>
                        <input class="form-control" id="forname" ng-model="user.forname"></input>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input class="form-control" id="role" ng-model="user.authRole"></input>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" ng-model="user.passwd"></input>
                    </div>
                </fieldset>
            </form>
        </tab>
    </tabset>
    <div class="controls">
        <button type="button" class="btn btn-primary" ng-click="edit()" ng-show="!editable">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="!editable">Delete</button>
        <button type="submit" class="btn btn-success" ng-click="save()" ng-show="editable">Save</button>
    </div>
</div>