<div class="category">
    <button type="button" class="close" ui-sref="categories"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h1>Category</h1>
    <tabset justified="false">
        <tab heading="Details">
            <h3>Details</h3>
            <div class="view" ng-show="!editable">
                <dl>
                	<dt>Id</dt>
                    <dd>{{ category.id || 'None' }}</dd>
                    <dt>Title</dt>
                    <dd>{{ category.title || 'None' }}</dd>
                </dl>
            </div>
            <form role="form" ng-show="editable">
                <fieldset ng-disabled="isDisabled">
                	<div class="form-group">
                        <dt>Id</dt>
                    	<dd>{{ category.id || 'None' }}</dd>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="category.title" />
                    </div>
                </fieldset>
            </form>
        </tab>
    </tabset>
<!--     <p>errorMessages: {{data.errorMessages}}</p> -->
<!--     <p>fieldErrors:  {{data.fieldErrors}}</p> -->
    <div class="controls">
    	<button type="button" class="btn btn-primary" ng-click="edit()" ng-show="!editable && isMyCategory(category)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="!editable && isMyCategory(category)">Delete</button>
        <button type="submit" class="btn btn-success" ng-click="save()" ng-show="editable">Save</button>
    </div>
</div>