<div class="user-new">
    <button type="button" class="close" ui-sref="users"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h1>New user</h1>
    
    <form role="form">
        <fieldset ng-disabled="isDisabled">
            <accordion close-others="true">
                <accordion-group is-open="accordianOpen1">
                    <accordion-heading>
                    Enter details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordianOpen1, 'glyphicon-chevron-right': !accordianOpen1}"></i>
                    </accordion-heading>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" ng-model="data.user_new.name" />
                    </div>
                    <div class="form-group">
                        <label for="forname">Forname</label>
                        <input class="form-control" id="forname" ng-model="data.user_new.forname"></input>
                    </div>
                    <!-- div class="form-group">
                        <label for="role">Role</label>
                        <input class="form-control" id="role" ng-model="data.user_new.role"></input>
                    </div-->
                    <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                </accordion-group>
            </accordion>
        </fieldset>
    </form>
</div>